.foto {
    border-radius: 0%; /* Hace la imagen circular */
    object-fit: cover;
    overflow: hidden;
    border: 10px solid #0e1320 ;
    border-style: double;
    border-radius: 20%;
}

.foto:hover {
    border: 10px solid lightblue;
    border-style: double;
}

body {
    background-color: #F0F8FF;
}

.content {
    color:#0e1320;
    font-family: "poppins", sans-serif;
    min-height: 100vh; /* asegura que cubra toda la pantalla */
    display: flex;
    flex-direction: column;
}

.divcuer {
    background-color: white;
    padding: 20px;
    padding-bottom: 0px;
}

.content h2, .content p {
    margin-top: 0px;
}

