footer {
  background-color: #0e1320;
  justify-content: center;
  color: #fff;
  padding: 20px 20px;
  text-align: center;
  border-top: 1px solid #1c2233;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  max-width: 1000px;
  justify-content: center;
  margin: 0 auto;
}

.footer-container h2 {
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: #fff;
}

.social-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.social-link {
  color: #ccc;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.social-link i {
  font-size: 1.4rem;
  color: #2f66ff;
  transition: transform 0.3s ease;
}

.social-link:hover {
  color: #fff;
}

.social-link:hover i {
  transform: scale(1.2);
}

.rights {
  font-size: 0.85rem;
  color: #777;
  border-top: 1px solid #1c2233;
  padding-top: 15px;
}

@media (max-width: 600px) {
  .social-section {
    flex-direction: column;
    gap: 15px;
  }
}