.site-footer {
  background-color: #0e1320;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
}

.site-footer h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.site-footer p {
  font-size: 1rem;
  color: #c5c5c5;
}

.copyright {
  font-size: 0.9rem;
  color: #aaaaaa;
}