/* === ESTILO GENERAL === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0e1320;
  color: #fff;
}

/* === HEADER === */
header {
  position: sticky;
  top: 0;
  background-color: #0e1320;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

/* === PERFIL === */
.profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile img {
  width: 65px;
  height: 65px;
  border-radius: 0%;
  border: 2px solid #E0FFFF;
  object-fit: cover;
}

.profile img:hover {
    width: 65px;
    height: 65px;
    border-radius: 10%;
    border: 2px solid #3864cb;
    object-fit: cover;
}

.profile-info h1 {
  font-size: 1.3rem;
  color: #E0FFFF;
}

.profile-info p {
  font-size: 0.9rem;
  color: #E0FFFF;
}

.login-btn {
  background-color: #E0FFFF;
  color: #0e1320;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.login-btn:hover {
  background-color: #3864cb;
}

.login-btn {
  position: relative;
  overflow: hidden;
}
.login-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.3);
  transition: left 0.4s ease;
}
.login-btn:hover::after {
  left: 100%;
}

/* === NAVBAR === */
nav {
  background-color: #0e1320;
  border-top: 1px solid #1c2233;
  transition: all 0.3s ease;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 40px;
  padding: 15px 0;
}

nav ul li a {
  color: #E0FFFF;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #9fcaeb;
}

/* === HAMBURGUESA === */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 1100;
}

.menu-toggle span {
  background: #E0FFFF;
  height: 3px;
  width: 28px;
  margin: 4px 0;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.menu-toggle span:hover {
  background: #9fcaeb;
  height: 3px;
  width: 28px;
  margin: 4px 0;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* === RESPONSIVE === */
@media (max-width: 850px) {
  .menu-toggle {
    display: flex;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    display: none;
    background-color: #0e1320;
  }

  nav ul.active {
    display: flex;
  }

  .header-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }
}